/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

#nav-link {
  transition: transform 250ms;
  display: inline-block;
  color: #aeaca5;
}
#nav-link:hover {
  transform: translateY(-2px);
  color: #4a685a;
}

.a-card {
  margin: 0px;
  padding: 0px 0px 100px 0px;
}

.a-card-image {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 4px 8px 0px #ccc;
}

.a-card-info {
  color: #aeaca5;
  font-weight: 300;
  margin-top: 10px;
  min-height: 100px;
}

.a-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0px;
  color: #62625b;
}

.a-card-subtitle {
  font-size: 16px;
  margin: 0px;
}

.a-entire-hero {
  padding-top: 55px;
  padding-bottom: 20px;
  justify-content: center;
}

.a-hero-title {
  font-size: 80px;
  font-weight: bolder;
  color: #4a685a;
}

.a-hero-quote {
  font-size: 20px;
  font-weight: 240;
  color: #61645e;
  /* color: #62625b; */
  font-style: italic;
  /* font-weight; */
}

.a-hero-name {
  font-size: 15px;
  font-weight: 300;
  color: #aeaca5;
}

.success-msg {
  color: #57a773;
  padding: 10px 15px;
}

.err-msg {
  color: #985959;
  padding: 10px 15px;
}

.white {
  color: white;
}

.a-page {
  background-color: #fafff2;
  /* #fafff2; */
  font-family: "Poppins", sans-serif;
  height: 100%;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  padding-bottom: 20px;
}

.a-content {
  padding: 0px 0px 0px 0px;
  color: #62625b;
  line-height: 30px;
  font-weight: 400;
}

.a-carousel {
  padding: 0px 0px 100px 0px;
}

.a-footer {
  /* margin-top: 50px;
  margin-bottom: 0px !important; */
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #aeaca5;
}

.icon {
  width: 30px;
  height: 30px;
}

a.social {
  margin-left: 1.2rem;
  transition: transform 250ms;
  display: inline-block;
  fill: #aeaca5;
}

a.social:hover {
  transform: translateY(-2px);
  fill: #4a685a;
}

.a-document {
  padding: 0px 0px 100px 0px;
}

.a-resume {
  max-width: 1000px;
  height: auto;
}

.a-link {
  color: #f5a0a0;
}

#linkid {
  color: #f5a0a0;
  text-decoration: none;
  border-bottom: 1px solid #f5a0a0;
  padding-bottom: 0.15em;
}

#linkid:hover {
  color: #f5a0a0;
  cursor: pointer;
  text-decoration: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f5a0a0' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: 0.2em;
}

#linkid2 {
  color: #61645e;
  text-decoration: none;
  border-bottom: 1px solid #4a685a;
  padding-bottom: 0.15em;
}

#linkid2:hover {
  color: #61645e;
  cursor: pointer;
  text-decoration: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%234a685a' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: 0.2em;
}

.a-slider {
  width: 300px;
  height: 300px;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: #f5a0a0;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: #f5a0a0;
}

.carousel-caption {
  top: auto;
  bottom: 0px;
  transform: translateX(15%);
  /* text-align: left; */
}

.carousel-caption a {
  color: #f5a0a0;
}

.carousel .carousel-indicators li {
  background-color: #cfdbd3;
}

.carousel .carousel-indicators .active {
  background-color: #cfdbd3;
}

.carousel .carousel-indicators {
  bottom: -50px;
}

/* .carousel-caption a {
  color: #62626b !important;
  text-align: left;
}

.carousel-caption p {
  color: #aeaca5;
  font-size: 28px;
  font-weight: 300;
  text-align: left;
} */
